In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [15]:
page = requests.get("https://en.wikipedia.org/wiki/Global_Liveability_Ranking")
print(page.status_code)

200

In [7]:
soup = BeautifulSoup(page.content, 'html.parser')
list(soup.children)


# HTML TABLE
x = soup.find("table",{"class":"wikitable"})

In [8]:
b = soup.find_all("span", {"class": "mw-headline"}, id=lambda x: x and x.endswith("_results"))
for i in b:
    print(i.get_text()[0:4])

year_extracted = [i.get_text()[0:4] for i in b]
year_extracted

2023
2022
2021
2019
2018
2017
2016
2015

['2023', '2022', '2021', '2019', '2018', '2017', '2016', '2015']

In [9]:
x = f'''{soup.find_all("table", {"class": "wikitable"})}'''
df = pd.read_html(x)

In [10]:
## Enumarating the year of each df
for i, year in enumerate(year_extracted):
    df[i]['Year'] = year

In [11]:
## Appending dataframes
all_dfs = []
for i in df:
    all_dfs.append([i])
all_dfs

[[    Sl.        City  Ratings      Country  Year
  0     1      Vienna    100.0      Austria  2023
  1     2  Copenhagen     98.0      Denmark  2023
  2     3   Melbourne     97.8    Australia  2023
  3     4      Sydney     97.4    Australia  2023
  4     5   Vancouver     97.3       Canada  2023
  5     6      Zurich     97.1  Switzerland  2023
  6     7     Calgary     96.8       Canada  2023
  7     7      Geneva     96.8  Switzerland  2023
  8     9     Toronto     96.5       Canada  2023
  9    10       Osaka     96.0        Japan  2023
  10   10    Auckland     96.0  New Zealand  2023],
 [    Sl.        City  Ratings      Country  Year
  0     1      Vienna     99.1      Austria  2022
  1     2  Copenhagen     98.0      Denmark  2022
  2     3      Zurich     96.3  Switzerland  2022
  3     3     Calgary     96.3       Canada  2022
  4     5   Vancouver     96.1       Canada  2022
  5     6      Geneva     95.9  Switzerland  2022
  6     7   Frankfurt     95.7      Germany  2022
  7     8     Toronto     95.4       Canada  2022
  8     9   Amsterdam     95.3  Netherlands  2022
  9    10   Melbourne     95.1    Australia  2022
  10   10       Osaka     95.1        Japan  2022],
 [   Sl.        City  Ratings      Country  Year
  0    1    Auckland     96.0  New Zealand  2021
  1    2       Osaka     94.2        Japan  2021
  2    3    Adelaide     94.0    Australia  2021
  3    4  Wellington     93.7  New Zealand  2021
  4    4       Tokyo     93.7        Japan  2021
  5    6       Perth     93.3    Australia  2021
  6    7      Zurich     92.8  Switzerland  2021
  7    8      Geneva     92.5  Switzerland  2021
  8    8   Melbourne     92.5    Australia  2021
  9   10    Brisbane     92.4    Australia  2021],
 [   Sl.        City  Ratings    Country  Year
  0    1      Vienna     99.1    Austria  2019
  1    2   Melbourne     98.4  Australia  2019
  2    3      Sydney     98.1  Australia  2019
  3    4       Osaka     97.7      Japan  2019
  4    5     Calgary     97.5     Canada  2019
  5    6   Vancouver     97.3     Canada  2019
  6    7       Tokyo     97.2      Japan  2019
  7    7     Toronto     97.2     Canada  2019
  8    9  Copenhagen     96.8    Denmark  2019
  9   10    Adelaide     96.6  Australia  2019],
 [   Sl.        City  Ratings    Country  Year
  0    1      Vienna     99.1    Austria  2018
  1    2   Melbourne     98.4  Australia  2018
  2    3       Osaka     97.7      Japan  2018
  3    4     Calgary     97.5     Canada  2018
  4    5      Sydney     97.4  Australia  2018
  5    6   Vancouver     97.3     Canada  2018
  6    7       Tokyo     97.2      Japan  2018
  7    7     Toronto     97.2     Canada  2018
  8    9  Copenhagen     96.8    Denmark  2018
  9   10    Adelaide     96.6  Australia  2018],
 [   Sl       City  Ratings      Country  Year
  0   1  Melbourne     97.5    Australia  2017
  1   2     Vienna     97.4      Austria  2017
  2   3  Vancouver     97.3       Canada  2017
  3   4    Toronto     97.2       Canada  2017
  4   5   Adelaide     96.6    Australia  2017
  5   5    Calgary     96.6       Canada  2017
  6   7      Perth     95.9    Australia  2017
  7   8   Auckland     95.7  New Zealand  2017
  8   9   Helsinki     95.6      Finland  2017
  9  10    Hamburg     95.0      Germany  2017],
 [   Sl.       City  Ratings      Country  Year
  0    1  Melbourne     97.5    Australia  2016
  1    2     Vienna     97.4      Austria  2016
  2    3  Vancouver     97.3       Canada  2016
  3    4    Toronto     97.2       Canada  2016
  4    5   Adelaide     96.6    Australia  2016
  5    5    Calgary     96.6       Canada  2016
  6    7      Perth     95.9    Australia  2016
  7    8   Auckland     95.7  New Zealand  2016
  8    9   Helsinki     95.6      Finland  2016
  9   10    Hamburg     95.0      Germany  2016],
 [    Sl.       City  Ratings      Country  Year
  0     1  Melbourne     97.5    Australia  2015
  1     2     Vienna     97.4      Austria  2015
  2     3  Vancouver     97.3       Canada  2015
  3     4    Toronto     97.2       Canada  2015
  4     5   Adelaide     96.6    Australia  2015
  5     5    Calgary     96.6       Canada  2015
  6     7     Sydney     96.1    Australia  2015
  7     8      Perth     95.9    Australia  2015
  8     9   Auckland     95.7  New Zealand  2015
  9    10   Helsinki     95.6      Finland  2015
  10   10     ZÃ¼rich     95.6  Switzerland  2015]]

In [12]:
concat_df = pd.concat = pd.DataFrame()

for i in df:
    concat_df = concat_df.append([i] , ignore_index=True)

concat_df.drop('Sl', axis=1, inplace=True)

#filling na rows
concat_df['Sl.'] = concat_df['Sl.'].fillna(0).astype(int)

C:\Users\Luiz Felipe\AppData\Local\Temp\ipykernel_20308\2067479914.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  concat_df = concat_df.append([i] , ignore_index=True)

In [18]:
# Extracting to csv so can load on flourish.
concat_df.to_csv('data/liveable_2025_2015.csv', index=False)
concat_df.head()

   Sl.        City  Ratings    Country  Year
0    1      Vienna    100.0    Austria  2023
1    2  Copenhagen     98.0    Denmark  2023
2    3   Melbourne     97.8  Australia  2023
3    4      Sydney     97.4  Australia  2023
4    5   Vancouver     97.3     Canada  2023