In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
page = requests.get("https://en.wikipedia.org/wiki/Global_Liveability_Ranking")
print(page.status_code)

200

In [3]:
soup = BeautifulSoup(page.content, 'html.parser')
# HTML TABLE
x = soup.find("table",{"class":"wikitable"})

In [4]:
b = soup.find_all("span", {"class": "mw-headline"}, id=lambda x: x and x.endswith("_results"))
for i in b:
    print(i.get_text()[0:4])

year_extracted = [i.get_text()[0:4] for i in b]
year_extracted

2023
2022
2021
2019
2018
2017
2016
2015

['2023', '2022', '2021', '2019', '2018', '2017', '2016', '2015']

In [5]:
x = f'''{soup.find_all("table", {"class": "wikitable"})}'''
df = pd.read_html(x)

In [6]:
## Enumarating the year of each df
for i, year in enumerate(year_extracted):
    df[i]['Year'] = year

In [7]:
concat_df = pd.concat = pd.DataFrame()

for i in df:
    concat_df = concat_df.append([i] , ignore_index=True)

concat_df.drop('Sl', axis=1, inplace=True)

#filling na rows
concat_df['Sl.'] = concat_df['Sl.'].fillna(0).astype(int)

C:\Users\Luiz Felipe\AppData\Local\Temp\ipykernel_22964\3505062759.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  concat_df = concat_df.append([i] , ignore_index=True)

In [8]:
# Extracting to csv so can load on flourish.
concat_df.to_csv('data/liveable_2025_2015.csv', index=False)
concat_df

    Sl.        City  Ratings      Country  Year
0     1      Vienna    100.0      Austria  2023
1     2  Copenhagen     98.0      Denmark  2023
2     3   Melbourne     97.8    Australia  2023
3     4      Sydney     97.4    Australia  2023
4     5   Vancouver     97.3       Canada  2023
..  ...         ...      ...          ...   ...
78    7      Sydney     96.1    Australia  2015
79    8       Perth     95.9    Australia  2015
80    9    Auckland     95.7  New Zealand  2015
81   10    Helsinki     95.6      Finland  2015
82   10      Zürich     95.6  Switzerland  2015

[83 rows x 5 columns]